name: Continuous Integration

on:
  pull_request:
    paths-ignore:
      - 'client/locales/*'
      - '**.md'
      - 'docs/**'
    push:
      branches-ignore:
        - 'dependabot/**'
      paths-ignore:
        - 'client/locales/*'
        - 'docs/**'
  workflow_dispatch:

env:
  IMAGE_NAME: ${{ github.repository }}

jobs:
  validate-wrapper:
    runs-on: ubuntu-latest
    name: Validate Gradle Wrapper
    steps:
      - name: Clone repo
        uses: actions/checkout@v4
      - name: Validate
        uses: gradle/wrapper-validation-action@v2

  test-server:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [17, 19]
    name: Test server in JDK ${{ matrix.java }}
    needs: validate-wrapper
    steps:
      - name: Clone repo
        uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          java-package: 'jdk'
          distribution: 'temurin'
      - name: Run build
        uses: gradle/gradle-build-action@v3
        with:
          arguments: build
      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results-jdk-${{ matrix.java }}
          path: server/build/test-results/
          overwrite: true
      - name: Upload test reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-reports-jdk-${{ matrix.java }}
          path: server/build/reports/tests/
          overwrite: true

  test-client:
    runs-on: ubuntu-latest
    name: Test client
    needs: validate-wrapper
    steps:
      - name: Clone repo
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest
          run_install: false
      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT
      - name: Setup pnpm cache
        uses: actions/cache@v4
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/client/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-
      - name: Install dependencies
        working-directory: client
        run: pnpm install
      - name: Run build
        working-directory: client
        run: pnpm build
      - name: Run tests
        working-directory: client
        run: pnpm test

  build-push-image:
    name: Build and push Docker image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    needs: [test-client, test-server]
    if: github.event_name != 'pull_request' && github.ref == 'refs/heads/main'
    steps:
      - name: Clone repository (latest)
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata for Docker
        id: metadata
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=latest
            type=sha,prefix=,format=short
          labels: |
            org.opencontainers.image.title=SpineStack

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.metadata.outputs.tags }}
          labels: ${{ steps.metadata.outputs.labels }}
